# Nuxt build outputs
.nuxt
.nitro
.output
.cache

# Dependencies
node_modules

# Logs
logs
*.log

# OS / IDE
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Generated build artifacts
.data/
_payload.json
200.html
404.html
dist
index.html
_nuxt/
__nuxt_content/
about/
css/
dj/
events/
favicons/
fonts/
images/
spaces/
