.fade-enter-active[data-v-48b9ecf2],.fade-leave-active[data-v-48b9ecf2]{transition:all .3s ease}.fade-enter-from[data-v-48b9ecf2],.fade-leave-to[data-v-48b9ecf2]{opacity:0;transform:translateY(-10px)}
