.fade-enter-active[data-v-21d38cd7],.fade-leave-active[data-v-21d38cd7]{transition:all .3s ease}.fade-enter-from[data-v-21d38cd7],.fade-leave-to[data-v-21d38cd7]{opacity:0;transform:translateY(-10px)}
