.fade-enter-active[data-v-e57819d8],.fade-leave-active[data-v-e57819d8]{transition:all .3s ease}.fade-enter-from[data-v-e57819d8],.fade-leave-to[data-v-e57819d8]{opacity:0;transform:translateY(-10px)}
