.fade-enter-active[data-v-42660827],.fade-leave-active[data-v-42660827]{transition:all .3s ease}.fade-enter-from[data-v-42660827],.fade-leave-to[data-v-42660827]{opacity:0;transform:translateY(-10px)}
