.fade-enter-active[data-v-2a7cf922],.fade-leave-active[data-v-2a7cf922]{transition:all .3s ease}.fade-enter-from[data-v-2a7cf922],.fade-leave-to[data-v-2a7cf922]{opacity:0;transform:translateY(-10px)}
