.fade-enter-active[data-v-5f49bee3],.fade-leave-active[data-v-5f49bee3]{transition:all .3s ease}.fade-enter-from[data-v-5f49bee3],.fade-leave-to[data-v-5f49bee3]{opacity:0;transform:translateY(-10px)}
